// Variables

$text-color: #141414;
$heading-color: #000000;
$btn-color: #f5112c;
$bg-grey: #f8f8f8;

// Mixins

@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-indents;
  list-style: none;
}

/* Fonts */

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Scaffolding */

* {
  box-sizing: border-box;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

a {
  text-decoration: none;
}

main {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  @include reset-indents;

  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: $text-color;

  @media (min-width: 750px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 1170px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.page-header {
  display: block;
}

.page-main {
  overflow: hidden;
}

.heading {
  @include reset-indents;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $heading-color;

  @media (min-width: 750px) {
    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 45px;
  }
}

.btn {
  display: block;
  padding: 20px;

  font-weight: 800;
  text-align: center;
  color: #ffffff;

  background-color: $btn-color;
  box-shadow: 0px 10px 18px 0px rgba(246, 27, 60, 0.55);
  border-radius: 31px;

  @media (min-width: 1170px) {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    letter-spacing: 1.3px;
  }
}

.btn:hover,
.btn:focus {
  background-color: darken($btn-color,5%);

  transition: background-color 0.3s;
}

.btn:active {
  box-shadow: 0px 5px 5px 0px rgba(246, 27, 60, 0.55);
}

.logo {
  display: block;
  width: 64px;

  img {
    width: 100%;
  }

  @media (min-width: 1170px) {
    width: 104px;
  }
}

/* Call to action */

.call-to-action {
  display: flex;
  flex-direction: column;
}

.call-to-action__tel {
  color: $text-color;
}

.call-to-action__call-back {
  position: relative;

  display: inline-block;

  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    bottom: -7px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $btn-color;
  }

  &:hover,
  &:focus {
    &::after {
      width: 0;
    }
  }
}

/* Page header */

.page-header__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
  margin: 0 auto;
  padding: 0 15px;
  
  line-height: 20px;
  color: $text-color;

  @media (min-width: 1170px) {
    padding-top: 30px;
  }
}

.page-header__address {
  display: none;

  @media (min-width: 750px) {
    display: block;
    margin-left: auto;
  }
}

.page-header__call-to-action {
  margin-left: auto;

  @media (min-width: 750px) {
    flex-direction: row;
    margin-left: 0;
  }
}

.page-header__tel,
.page-header__call-back {
  margin-left: 30px;
}

/* Banner */

.banner {
  &--top {
    @media (min-width: 750px) {
      background: url(../img/english-yes.svg) center 120px no-repeat;
      background-size: 1350px 200px;

      .banner__wrap {
        padding-bottom: 0;
      }
    }

    @media (min-width: 900px) {
      .banner__img {
        margin-left: 0;
      }
    }

    @media (min-width: 1170px) {
      background-position-y: top;
      background-size: 1890px 280px;
    }
  }

  &--bottom {
    .banner__img-wrap {
      margin-bottom: 20px;
    }

    @media (max-width: 749px) {
      .banner__offer {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media (min-width: 750px) {
      .banner__img {
        width: 695px;
        margin-left: -345px;
      }

      .banner__img-wrap {
        width: 50%;
      }

      .banner__text-wrap {
        width: 50%;
      }

      .banner__btn {
        width: 90%;
      }
    }

    @media (min-width: 1170px) {
      .banner__img {
        width: 795px;
        margin-left: -300px;
      }

      .banner__img-wrap {
        width: 60%;

        text-align: center;
      }

      .banner__text-wrap {
        width: 40%;
      }
    }
  }
}

.banner__wrap {
  padding: 0 15px 60px;

  @media (min-width: 750px) {
    display: flex;
  }
}

.banner__text-wrap {
  @media (min-width: 750px) {
    width: 60%;
    padding: 90px 0 0 15px;

    text-align: left;
  }
  @media (min-width: 1170px) {
    width: 50%;
  }
}

.banner__heading {
  position: relative;

  margin-top: 10px;
  margin-bottom: 35px;

  &::after {
    content: "";

    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 7px;
    background-color: $btn-color;
  }

  @media (min-width: 750px) {
    margin-bottom: 45px;

    &::after {
      bottom: -25px;
      left: 0;
      transform: translateX(0);
    }
  }

  small {
    display: block;

    font-size: 18px;

    @media (min-width: 750px) {
      font-size: 24px;
    }

    @media (min-width: 1170px) {
      font-size: 34px;
    }
  }
}

.banner__offer {
  @include reset-indents;
  margin: 12px 0 20px;

  @media (min-width: 750px) {
    margin-bottom: 35px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 55px;
  }
}

.banner__btn {
  @media (max-width: 749px) {
    width: 290px;
    margin: 0 auto;
  }

  @media (min-width: 750px) {
    width: 78%;
    max-width: 380px;

    font-size: 14px;
  }

  @media (min-width: 1170px) {
    font-size: 18px;
  }
}

.banner__img-wrap {
  text-align: center;

  @media (min-width: 750px) {
    width: 40%;
    max-width: 585px;

    text-align: right;
  }
  @media (min-width: 1170px) {
    width: 50%;
  }
}

.banner__img {
  @media (min-width: 750px) {
    width: 365px;
    margin-left: -100px;
  }

  @media (min-width: 900px) {
    width: 100%;
  }
}

/* Motivation */

.motivation {
  background: url(../img/circle-grey.svg) center no-repeat;
  background-size: 100% 100%;

  @media (min-width: 1000px) {
    background-position: 70% center;
  }
}

.motivation__wrap {
  padding: 80px 15px;

  @media (min-width: 750px) {
    padding-top: 120px;
    padding-bottom: 120px;

    text-align: left;
  }

  @media (min-width: 1170px) {
    padding-top: 170px;
    padding-top: 180px;
  }
}

.motivation__text {

  @media (max-width: 749px) {
    margin: 0 auto 20px;
    max-width: 290px;
  }

  @media (min-width: 750px) {
    width: 262px;
    margin: 0 30px;

    text-align: left;
  }

  @media (min-width: 1170px) {
    width: 370px;
  }
}

.motivation__img {
  @media (max-width: 749px) {
    width: 100%;
    margin: 0 auto;

    text-align: center;

    img {
      width: 100%;
      max-width: 400px;
    }
  }

  @media (min-width: 750px) {
    &--hotel {
      img {
        width: 407px;
      }
    }
    &--compas {
      img {
        width: 345px;
      }
    }
    &--airport {
      img {
        width: 345px;
      }
    }
    &--socks {
      img {
        width: 345px;
      }
    }
  }

  @media (min-width: 1170px) {
    &--hotel {
      img {
        width: 457px;
      }
    }
    &--compas {
      img {
        width: 432px;
      }
    }
    &--airport {
      img {
        width: 345px;
      }
    }
    &--socks {
      img {
        width: 557px;
      }
    }
  }
}

.motivation__lead {
  position: relative;

  display: block;
  margin: 0 auto 60px;
  width: 70%;

  &::after {
    content: "";

    position: absolute;
    top: -30%;
    right: -10%;
    width: 100px;
    height: 160%;

    background: url(../img/question-mark.svg) center no-repeat;

    @media (min-width: 1170px) {
      width: 150px;
    }
  }

  @media (min-width: 750px) {
    width: 33.3%;
    margin: 0 0 60px;
  }

  @media (min-width: 1000px) {
    margin-bottom: 0;

    font-size: 40px;
  }
}

.motivation__item {
  position: relative;

  margin-bottom: 40px;

  @media (min-width: 750px) {
    position: relative;

    display: flex;
    justify-content: flex-end;

    align-items: center;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 60px;
  }
}

.motivation__number {
  font-weight: 800;
  font-size: 48px;
  font-family: 'Gilroy', 'Tahoma', sans-serif;

  span {
    color: $btn-color;
  }

  @media (min-width: 750px) {
    position: absolute;
  }
}

.motivation__item {
  &:nth-of-type(1) {
    .motivation__number {
      top: 55px;
      right: 365px;

      @media (min-width: 1170px) {
        top: 75px;
        right: 420px;
      }
    }

    .motivation__text {
      @media (min-width: 750px) {
        width: 248px;
      }

      @media (min-width: 1170px) {
        width: 262px;
      }
    }
  }

  &:nth-of-type(2) {
    .motivation__number {
      top: 50px;
      left: 315px;

      @media (min-width: 1170px) {
        top: 65px;
        left: 400px;
      }
    }
  }

  &:nth-of-type(3) {
    .motivation__number {
      top: 140px;
      right: 304px;
    }
  }
}

.motivation__number--final {
  top: 0;
  left: 300px;

  text-transform: none;

  @media (min-width: 1170px) {
    top: 30px;
    left: 510px;
  }
}

/* Features */

.features {
  position: relative;

  padding: 40px 15px 20px;

  @media (min-width: 750px) {
    padding-top: 120px;
    padding-bottom: 120px;

    text-align: left;
  }
}

.features__list {
  @include reset-list;
  margin: 0 auto;

  text-align: center;

  @media (min-width: 750px) {
    display: flex;
    width: 675px;
    margin: 0;

    text-align: left;
  }

  @media (min-width: 1170px) {
    width: 820px;
  }
}

.features__item {
  br {
      display: none;
    }

  @media (min-width: 750px) {
    width: 33.3%;
    max-width: 262px;
    padding-left: 30px;

    &:first-of-type {
      padding-left: 0;
    }

    br {
      display: block;
    }
  }

  @media (min-width: 1170px) {
    padding-left: 43px;
  }
}

.features__lead {
  position: relative;

  display: block;
  margin-bottom: 70px;

  &::after {
    content: "";

    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 7px;
    background-color: $btn-color;
  }

  @media (min-width: 750px) {
    width: 48%;

    &::after {
      bottom: -25px;
      left: 0;
      transform: translateX(0);
    }
  }
}

.features__heading {
  position: relative;

  @include reset-list;
  margin-bottom: 20px;

  font-weight: 800;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 50px;
    height: 50px;
    z-index: -1;

    background: url(../img/circle-grey.svg) center no-repeat;
    background-size: 100%;

    @media (min-width: 750px) {
      left: 0;
      transform: translate(0, -60%);
    }
  }
}

.features__text {
  @include reset-indents;
  margin-bottom: 50px;
}

.features__img {
  display: none;

  @media (min-width: 750px) {
    position: absolute;
    top: -12%;
    left: 545px;

    display: block;
    width: 600px;
  }

  @media (min-width: 1170px) {
    top: -25%;
    left: 610px;

    width: 908px;
  }
}

/* Teachers */

.teachers {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 1170px) {
    max-width: 1170px;
  }
}

.teachers__heading {
  margin-bottom: 30px;

  @media (min-width: 750px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1170px) {
    text-align: left;
  }
}

.teachers__list {
  @include reset-list;

  text-align: left;

  @media (min-width: 750px) {
    display: flex;
    flex-wrap: wrap;   
  }
}

.teachers__item {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto;
  
  @media (min-width: 750px) {
    width: 48%;
    margin: 0 2%;

    &:first-of-type,
    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: 1170px) {
    width: 360px;
    margin: 0 1.3%;

    &:nth-of-type(2n+1) {
      margin-left: 1.3%;
    }

    &:nth-of-type(2n) {
      margin-right: 1.3%;
    }

    &:nth-of-type(3n+1) {
      margin-left: 0;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.teachers__img-wrap {
  order: -1;
}

.teachers__photo {
  display: block;
  width: 100%;
}

.teachers__name {
  @include reset-indents;
  margin-top: 24px;
  margin-bottom: 15px;

  font-weight: 800;

  @media (min-width: 750px) {
    margin-top: 30px;
  }
}

.teachers__text {
  @include reset-indents;
  margin-bottom: 40px;
}

/* Program */

.program {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 750px) {
    flex-direction: row-reverse;

    text-align: left;
  }
}

.program__heading {
  position: relative;

  margin-top: 35px;
  margin-bottom: 30px;
  
  &::after {
    content: "";

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 7px;
    background-color: $btn-color;
  }

  @media (min-width: 400px) {
    br {
      display: none;
    }
  }

  @media (min-width: 750px) {
    margin-top: 40px;
    margin-bottom: 55px;

    &::after {
      bottom: -25px;
      left: 0;
      transform: translateX(0);
    }
  }
}

.program__price {
  display: block;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 24px;
  color: $btn-color;

  @media (min-width: 750px) {
    margin-bottom: 20px;

    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 45px;
  }
}

.program__summary {
  @include reset-indents;
  margin-bottom: 30px;
}

.program__img {
  margin-left: -45px;

  @media (min-width: 750px) {
    flex-grow: 1;
    margin-left: -15px;

    text-align: center;

    img {
      width: 612px;
      height: 881px;
    }
  }

  @media (min-width: 1170px) {
    margin-left: -222px;
  }
}

.program__wrap {
  padding: 0 15px;

  @media (max-width: 750px) {
    max-width: 380px;
    margin: 0 auto;
  }

  @media (min-width: 750px) {
    flex-shrink: 0;
    width: 625px;
  }

  @media (min-width: 1170px) {
    width: 780px;
  }
}

.program__list {
  @include reset-list;

  @media (min-width: 750px) {
    column-count: 2;
    column-gap: 30px;

    text-align: left;
  }
}

.program__item {
  @media (min-width: 750px) {
    min-height: 135px;
  }
}

.program__item-heading {
  @include reset-indents;
  margin-bottom: 12px;

  font-weight: 800;
  font-size: 14px;

  @media (min-width: 750px) {
    font-size: 16px;
  }

  @media (min-width: 1170px) {
    font-size: 18px;
  }
}

.program__text {
  @include reset-indents;
  margin-bottom: 24px;
}

/* Algorithm */
.algorithm {
  padding-top: 80px;
  padding-bottom: 100px;

  background: url(../img/circle-grey.svg) center no-repeat;
  background-size: auto 100%;
}
.algorithm__list {
  @include reset-list;
}

.algorithm__heading,
.algorithm__text-wrap,
.algorithm__img {
  padding: 0 15px;
}

.algorithm__heading {
  position: relative;

  margin-bottom: 60px;

  &::after {
    content: "";

    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 7px;
    background-color: $btn-color;
  }

  @media (min-width: 750px) {
    width: 44%;

    text-align: left;

    &::after {
      bottom: -25px;
      left: 15px;
      transform: translateX(0);
    }
  }
}

.algorithm__item {
  @media (min-width: 750px) {
    display: flex;
    align-items: center;

    padding-bottom: 70px;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
}

.algorithm__text-wrap {
  @media (min-width: 750px) {
    width: 50%;

    text-align: left;
  }
}

.algorithm__item-heading {
  position: relative;

  display: inline-block;
  @include reset-indents;
  width: auto;
  margin-bottom: 12px;
  padding: 0 30px;

  font-weight: 800;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 15px;

    background: url(../img/arrow.png) center no-repeat;
    background-size: 100%;
  }
}

.algorithm__text {
  @include reset-indents;
  margin-bottom: 24px;

  @media (max-width: 749px) {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 750px) {
    margin-bottom: 0;
    padding-left: 30px;
  }
}

.algorithm__img {
  margin-bottom: 40px;

  img {
    display: block;

    @media (max-width: 749px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 750px) {
    width: 50%;
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }
}

/* Reviwes */

.reviews {
  margin-bottom: 50px;
  padding: 0 15px;

  @media (min-width: 750px) {
    text-align: left;
  }
}

.reviews__list {
  margin-bottom: 80px;
}

.reviews__heading {
  position: relative;

  @include reset-indents;
  margin-top: 30px;
  margin-bottom: 50px;

  &::after {
    content: "";

    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);

    width: 64px;
    height: 7px;
    background-color: $btn-color;
  }

  @media (min-width: 750px) {
    margin-bottom: 70px;

    &::after {
      bottom: -30px;
      left: 0;
      transform: translateX(0);
    }
  }
}

.reviews__item {
  padding-bottom: 40px;

  @media (min-width: 750px) {
    display: flex;
  }
}

.reviews__text-wrap {
  margin-bottom: 30px;

  @media (min-width: 750px) {
    max-width: 850px;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  @media (min-width: 1170px) {
    margin-left: 60px;
  }
}

.reviews__author-photo {
  margin-bottom: 25px;

  img {
    display: block;

    @media (max-width: 749px) {
      margin: 0 auto;
    }

    @media (min-width: 1170px) {
      width: 165px;
    }
  }
}

.reviews__author-name {
  @include reset-indents;
  margin-bottom: 12px;

  @media (min-width:750px) {
    margin-bottom: 24px;
  }
}

.reviews__text {
  @include reset-indents;
  margin-bottom: 12px;

  @media (min-width:750px) {
    margin-bottom: 18px;
  }
}

.reviews__author-link {
  position: relative;

  padding-bottom: 6px;

  color: $btn-color;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: $btn-color;
  }
}

/* Slider */

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;

  background-color: #e9e9e9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $btn-color;
  box-shadow: 0px 4px 10px 0px rgba(245, 17, 44, 0.58);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

@media (min-width: 750px) {
  .swiper-pagination-bullets {
    width: 100%;
    height: 7px;

    text-align: left;

    background-color: #e9e9e9;
    border-radius: 3.5px;
  }

  .swiper-pagination-bullet {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 33.3%;
    height: 7px;

    background-color: #e9e9e9;
    border-radius: 3.5px;
    opacity: 0;
    z-index: 20;

    &:nth-of-type(2) {
      left: 33.3%;
    }

    &:nth-of-type(3) {
      left: 66.6%;
    }
  }

  .swiper-pagination-bullet:focus {
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: $btn-color;
    box-shadow: 0px 4px 10px 0px rgba(245, 17, 44, 0.58);
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
}

@media (min-width: 1170px) {
  .swiper-container-horizontal>.swiper-pagination-bullets {
    width: 94%;
  }
}

/* Footer */

.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrap {
  padding: 50px 15px;

  @media (min-width: 750px) {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__right-wrap {
  @media (min-width: 750px) {
    margin-left: auto;

    text-align: right;
  }
  @media (min-width: 1170px) {
    margin-left: auto;
  }
}

.page-footer__left-wrap {
  @media (min-width: 750px) {
    text-align-last: left;
  }

  @media (min-width: 1170px) {
    display: flex;
    align-items: flex-end;
    width: 750px;
  }
}

.page-footer__descripton {
  @include reset-indents;
  margin-bottom: 8px;
}

.page-footer__address {
  @include reset-indents;
  margin-bottom: 15px;

  @media (min-width: 1170px) {
    margin-left: auto;
    margin-bottom: 8px;
  }
}

.page-footer__call-to-action {
  @media (min-width: 1170px) {
    flex-direction: row;

    a {
      margin-left: 30px;
    }
  }
}

.page-footer__logo {
  margin: 0 auto 15px;

  @media (min-width: 750px) {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.page-footer__tel {
  margin-bottom: 7px;
}


/* Social */

.social {
  @include reset-list;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  @media (min-width: 750px) {
    justify-content: flex-end;
    margin-bottom: 16px;
  }
} 

.social__item {
  display: inline-block;
  width: 40px;
  height: 40px;

  opacity: 0.2;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--vk {
    margin-right: 18px;

    background-image: url(../img/vk.svg);
    background-size: 100% 23px;
    background-position: right bottom 3px;
    background-repeat: no-repeat;
  }

  &--insta {
    margin-right: 14px;

    background-image: url(../img/insta.svg);
    background-size: 78%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  &--youtube {
    margin-right: 8px;

    background-image: url(../img/yt.svg);
    background-size: auto 75%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  &--ok {
    background-image: url(../img/ok.svg);
    background-size: auto 80%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}

/* 1170px - centered */

@media (min-width: 1170px) {
  .page-header__wrap,
  .banner__wrap,
  .motivation__wrap,
  .features,
  .teachers,
  .program,
  .algorithm__wrap,
  .reviews,
  .page-footer__wrap {
    width: 1170px;
    margin: 0 auto;
  }
}